* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.main_header {
  display: flex;
  justify-content: space-between;
  box-shadow: -2px 4px 3px #cccccc70;
  position: fixed;
  width: 100%;
  background-color: white;
}
.main_header ul {
  display: flex;
}
.main_header a {
  color: black;
  font-size: 18px;
  letter-spacing: 5px;
  display: inline-block;
  padding: 10px;
}
.main_header a:hover {
  background-color: #ccc;
}
.home_section {
  background-image: url('https://www.w3schools.com/w3images/mac.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home_section h1 {
  color: white;
  font-size: 60px;
  font-family: sans-serif;
  font-weight: 200;
  padding: 48px;
}
.home_section p {
  color: #dfd9d9;
  font-size: 20px;
  font-family: sans-serif;
  padding: 48px;
}
.home_section a {
  color: black;
  font-family: sans-serif;
  font-weight: 300;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  width: 250px;
  padding: 12px 16px;
  background-color: #ccc;
}
.home_section a:hover {
  background-color: chartreuse;
}
.about_section {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 100px;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #424242;
}
.about_section h3 {
  font-size: 24px;
  font-weight: 300;
  padding: 20px;
}
.about_section p {
  padding: 24px;
  font-size: 18px;
}
.list {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #5f5f5f;
}
.list h4 {
  font-size: 18px;
  padding: 25 px;
}
.list p {
  font-size: 15px;
  padding: 25px;
}
.design_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cccccc70;
}
.design_section h2 {
  color: #504e4e;
  font-size: 24px;
  font-family: sans-serif;
  padding: 24px;
}
.design_section p {
  color: #474747;
  font-size: 15px;
  font-family: sans-serif;
  padding: 24px;
}
.design_section a {
  color: white;
  font-family: sans-serif;
  font-weight: 300;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  width: 250px;
  padding: 12px 16px;
  background-color: black;
}
.design_section a:hover {
  background-color: #379fe4;
}
.design_section img {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  width: 80%;
}
.team_section {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  text-align: center;
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 74px;
}
.team_section h2 {
  font-size: 24px;
  font-weight: 400;
  padding: 20px;
  color: #3b3b3b;
}
.team_section p {
  padding: 24px;
  font-size: 20px;
  color: #585757;
}
.contact_list {
  display: flex;
  justify-content: space-between;
  padding: 44px;
  filter: grayscale(50%);
}
.contact_list p {
  padding: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
.contact_list div {
  color: black;
}
.contact_list div h3 {
  padding: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.contact_list div img {
  padding: 18px;
  width: 300px;
  margin-top: 20px;
}
.contact_list div h2 {
  padding: 18px;
  background-color: #ccc;
  color: white;
  font-size: 15px;
  width: 250px;
}
.contact_list div h2:hover {
  background-color: green;
}
